.datosPersonls{
 background-color:    rgba(141, 132, 132, 0.6);
 border-radius: 10px;
    line-height: 1.3rem;
    
    border: 1px solid #aaa;
    padding: 1rem;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
    margin-bottom: 1rem;
    width: 48%;
}

 .TeTx{
    FONT-FAMILY: SANS-SERIF;
    FONT-SIZE: large;
 }

 .entreGa{
    border-radius: 10px;
    line-height: 1.3rem;
    background-color:    rgba(141, 132, 132, 0.6);
    border: 1px solid #aaa;
    padding: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1rem;
    flex-direction: column;
    width: 48%;
 }