
.product-main p{
    font-family: var(--fuente);
    margin: 5px;
}
.product-main .titular {
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    border: 1px solid var(--color-negro);
    border-radius: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 30px;
}

.product-main .list-product {
    display: none;
}

.product-main .lista-productos .each-product {
    margin-bottom: 30px;
    margin-left: 10%;
}

main .lista-productos .each-product div:hover{
    box-shadow: 3px 3px var(--color-negro);
}
main .lista-productos .each-product div{
    border-radius: 15px;
    border: 1px solid var(--color-negro);
    padding: 20px;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease 1s;
}

main .lista-productos .each-product div .prod-price {
    font-weight: bold;
}

main .lista-productos .each-product div img{
    width: 80%;
    height: 190px;
    border-radius: 30px;
}
main .lista-productos .each-product div a button{
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: var(--color-rojo);
    color: var(--color-azul);
    border-radius: 15px;
    margin-top: 5px;
    box-shadow: 0px 0px 1px 0px var(--color-azul);
    transition: 0.4s;
}

main .lista-productos .each-product div button:hover {
    background-color: var(--color-azul);
    color: var(--color-rojo);
    box-shadow: 0px 0px 3px 0px;
}

.prod-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin: 20px;
}

@media (min-width: 500px) {
    .product-main .lista-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}
@media (min-width: 800px){
    .product-main .lista-productos {
        grid-template-columns: repeat(3,1fr);
    }
    .product-main .list-product{
        display: block;
        border-radius: 15px;
        border: 1px solid var(--color-negro);
        height: fit-content;
        padding: 20px;
        margin-left: 20px;
        text-align: center;
    }
    .product-main .list-product h2 {
        color: var(--color-negro);
        font-family: var(--fuente);
        margin-bottom: 7px;
    }
    .product-main .list-product ul li {
        margin-bottom: 5px;
    }
    .product-main .list-product ul li a{
        color: var(--color-negro);
        font-family: var(--fuente);
        font-weight: bolder;
    }
    main .list-product ul li a:hover{
        color: var(--color-rojo);
    }
    main .bb{
        display: grid;
        grid-template-columns: 18% 80%;
    }
    
}