@import url('general.css');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');
@import url('carrito.css');
@import url('historial.css');
@import url('home.css');
@import url('listaUsers.css');
@import url('productoDetalle.css');
@import url('login.css');
@import url('register.css');
@import url('productos.css');
@import url('quienesSomos.css');
@import url('datosDePago.css');
@import url('cargaProductos.css');
@import url('contactanos.css');
@import url('product-slider.css');                                    /* slider.ejs */
@import url('https://unpkg.com/flickity@2/dist/flickity.min.css');    /* slider.ejs */