<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuentes: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!-- Íconos: -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Css -->
    <link rel="stylesheet" href="stylesheets/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="categories-us">
            <div class="categories">
                <h2>Categorías</h2>
                <ul>
                    <li><a href="">Frenos</a></li>
                    <li><a href="">Escapes</a></li>
                    <li><a href="">Motores</a></li>
                    <li><a href="">Interior</a></li>
                    <li><a href="">Exterior</a></li>
                    <li><a href="">Neumáticos y llantas</a></li>
                </ul>
            </div>
            <div class="us">
                <h2>Nosotros</h2>
                <ul>
                    <li><a href="">¿Quiénes somos?</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="contact-payment">
            <div class="social-media">
                <a href="https://wa.me/5401144226666"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="payment">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-paypal"></i>
            </div>
        </div>
        <div class="logo"><img src="/images/header/Logo.jpeg" alt=""></div>
    </footer>
</body>
</html>