<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuentes: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!-- Íconos: -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <!-- Container izquierdo -->
            <div class="left-container">
                <a href=""><img src="/images/header/logo.png" alt="Logo"></a>
            </div>
            <!-- Parte Central (Input y Menu) -->
            <div class="input-ul-container">
                <div id="search-bar">
                    <input type="search" placeholder="Busca aquí">
                    <button>
                        <img src="/images/header/svg/Lupa.svg" alt="">
                    </button>
                </div>
                <hr style="width: 75%;text-align:left;margin-left:0" id="line">
                <ul>
                    <li><a href=""><img src="/images/header/svg/Freno.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Rueda.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Escapes.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Motor.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Volante.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Interior.svg" alt=""></a></li>
                </ul>
            </div>
            <!-- Container Derecho -->
            <div class="right-container">
                <a href="" id="hamburguesa"><img src="/images/header/svg/Hamburguesa.svg" alt="Menu"></a>
                <div class="pc">
                    <div class="menu-user">
                        <ul>
                            <li><img src="/images/header/svg/Login-registro.svg" alt="Login-registro">
                                <ul id="baja">
                                    <li><a href="">Login</a></li>
                                    <li><a href="">Registro</a></li>
                                    <li><a href="">Usuarios</a></li>
                                </ul>
                            </li>

                        </ul>
                            
                        </div>
                        <a href="/Carrito"><img src="/images/header/svg/Carrito.svg" alt="Carro de compras" id="Carrito"></a>
                    </div>
                </div>
            </div>
        </header>
    </body>
    </html>