<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuentes: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!-- Íconos: -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <!-- Container izquierdo -->
            <div class="left-container">
                <a href=""><img src="/images/header/Logo.jpeg" alt="Logo"></a>
            </div>
            <!-- Parte Central (Input y Menu) -->
            <div class="input-ul-container">
                <div id="search-bar">
                    <input type="search" placeholder="Busca aquí">
                    <button>
                        <img src="/images/header/svg/Lupa.svg" alt="">
                    </button>
                </div>
                <hr style="width: 75%;text-align:left;margin-left:0" id="line">
                <ul>
                    <li><a href=""><img src="/images/header/svg/Freno.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Rueda.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Escapes.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Motor.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Volante.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/header/svg/Interior.svg" alt=""></a></li>
                </ul>
            </div>
            <!-- Container Derecho -->
            <div class="right-container">
                <a href="" id="hamburguesa"><img src="/images/header/svg/Hamburguesa.svg" alt="Menu"></a>
                <div class="pc">
                    <a href="/login"><img src="/images/header/svg/Login-registro.svg" alt="Login-registro"></a>
                    <a href="/Carrito"><img src="/images/header/svg/Carrito.svg" alt="Carro de compras" id="Carrito"></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="slideshow-container fade">
            
            <!-- Imagenes -->
            <div class="Containers">
                <img src="/images/Home/Frenos.jpg" >
            </div>
            <div class="Containers">    
                <img src="/images/Home/motor.jpg" >
            </div>
            <div class="Containers">
                <img src="/images/Home/Volante.jpg" >
            </div>
            <div class="Containers">
                <img src="/images/Home/interiores.jpg" >
            </div>
            <!-- Btns atras y adelante -->
            <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
            <a class="forward" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div> 
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UEcFR4TUtIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <section class="products">
        <article class="product">
            <div class="Freno">
                <a href=""><img src="/images/Home/Caño de escape.jpg" alt=""></a>
                <div class="word">
                    <p>Escapes</p>
                </div>
            </div>
        </article>
        <article class="product">
            <div class="escape">
                <a href=""><img src="/images/Home/Frenos.2.jpg" alt=""></a>
                <div class="word">
                    <p>Frenos</p>
                </div>
            </div>
        </article>
        <article class="product">
            <div class="neumatico">
                <a href=""><img src="/images/Home/Neumaticos.png" alt=""></a>
                <p class="word">Neumáticos</p>
            </div>
        </article>
        <article class="product">
            <div class="volante">
                <a href=""><img src="/images/Home/Volante.jpg" alt=""></a>
                <div class="word">
                    <p>Volantes</p>
                </div>
            </div>
        </article>
        <article class="product">
            <div class="motor">
                <a href=""><img src="/images/Home/motor.jpg" alt=""></a>
                <div class="word">
                    <p>Motores</p>
                </div>
            </div>
        </article>
        <article class="product">
            <div class="interiores">
                <a href=""><img src="/images/Home/interiores.jpg" alt=""></a>
                <div class="word">
                    <p>Interiores</p>
                </div>
            </div>
        </article>
    </section>
    <div class="nota">
        <img src="/images/Home/tesla-cybertruck.jpg" alt="">
        <p>El Tesla Cybertruck es la camioneta eléctrica de Tesla, un vehículo revelado recientemente que entrará en producción a finales de 2021 y del que ya se han reportado más de 250.000 reservas desde que fuera oficialmente presentado.</p>
    </div>
    <div class="nota n2">
        <img src="/images/Home/coche-volador-1.jpg" alt="">
        <p>El AirCar, aún en estado de prototipo, se presenta como un automóvil de cuatro ruedas capaz de moverse por tierra. Su transformación en una aeronave requiere solo pulsar un botón y tres minutos. En este tiempo, despliega las alas y la cola para elevarse y proseguir la ruta entre las nubes. </p>
    </div>
</main>
<footer>
    <div class="categories-us">
        <div class="categories">
            <h2>Categorías</h2>
            <ul>
                <li><a href="">Frenos</a></li>
                <li><a href="">Escapes</a></li>
                <li><a href="">Motores</a></li>
                <li><a href="">Interior</a></li>
                <li><a href="">Exterior</a></li>
                <li><a href="">Neumáticos y llantas</a></li>
            </ul>
        </div>
        <div class="us">
            <h2>Nosotros</h2>
            <ul>
                <li><a href="">¿Quiénes somos?</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="contact-payment">
        <div class="social-media">
            <a href="https://wa.me/5401144226666"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="payment">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-cc-paypal"></i>
        </div>
    </div>
    <div class="logo"><img src="/images/header/Logo.jpeg" alt=""></div>
</footer>
<script src="/javascripts/home.js"></script>
</body>
</html>