<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuentes: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!-- Íconos: -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/productoDetalle.css">
    <title>Detalle del Producto</title>
</head>
<body>
    
    <!---->
    <main class="main-product">
        
        <h1 class="title-product">Escape Chevrolet Corsa año 2011</h1>
        <section class="destacado">
            <article>
                <div>
                    <img class="img-product" src="/images/ProductoDetallade/fescape.jpg" alt="Escape Chevrolet Corsa">
                </div>
                <div class="price-purchase">
                    <h3 class="price">Precio: 21.000</h3>
                    <p>12 x 1.000</p>
                    <p>18 x 800</p>
                    <p>24 x 700</p>
                    <form action="" method="post">
                        <button type="submit" class="button-purchase">Comprar</button>
                    </form>
                </div>
            </article>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eum inventore error totam consectetur perspiciatis dolore unde! Reiciendis quidem deserunt dignissimos fuga possimus. Odio, asperiores. Dolorum dolorem amet porro quibusdam!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eum inventore error totam consectetur perspiciatis dolore unde! Reiciendis quidem deserunt dignissimos fuga possimus. Odio, asperiores. Dolorum dolorem amet porro quibusdam! Libero voluptas, tempora reprehenderit praesentium dignissimos eveniet nam ex repellendus animi cupiditate, obcaecati veniam porro itaque dicta eum nostrum magnam expedita debitis. Explicabo delectus quos nulla.</p>
            
            <div class="product-details">
                <img class="img-product-2" src="/images/ProductoDetallade/fescape.jpg" alt="Escape Chevrolet Corsa 2">
                <ul class="description-list">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
                    <li>Nunc senectus condi mentum venenatis quam, inceptos aenean ullam corper.</li>
                    <li>Ullamcorper est pre tium porta fermen tum mollis, nunc condi mentum potenti.</li>
                    <li>Ut aptent erat blandit hime naeos, mollis pharetra.</li>
                    <li>Orci integer magnis eget solli citudin, inter dum ac penati bus.</li>
                    <li>In pharetra fermen tum fames, socios qu ultri cies</li>
                </ul>
            </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia aperiam blanditiis, incidunt, animi aliquid laudantium saepe, culpa vel quis rem ullam? Laboriosam, facilis molestias! Sequi tenetur nam accusantium iusto possimus earum animi vero amet? Libero voluptas, tempora reprehenderit praesentium dignissimos eveniet nam ex repellendus animi cupiditate, obcaecati veniam porro itaque dicta eum nostrum magnam expedita debitis. Explicabo delectus quos nulla.</p>
            
        </section>
    </main>


</body>
</html>