@import url('general.css');
@import url('variables.css');

header .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-negro);
    border-top: 1px solid var(--color-negro);
}
/* Container Izquierdo */
header .left-container {
    background-color: var(--color-negro);
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    width: 5rem;
    box-shadow: 0px 3px 2px grey;
}

header .left-container img{
    width: 60px;
    height: auto;
    border-radius: 45%;
}
/* Parte Central */
header .input-ul-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: var(--color-gris);
}

header .input-ul-container input{
    width: 45vw;
    height: 2rem;
    border-radius: 10px;
    border: solid 1px var(--color-negro);
    padding-left: 3px;
}

header .input-ul-container ul{
    display: none;
}

#search-bar {
    display: flex;
    margin-left: 15px;
}
#search-bar button img{
    height: 1.2rem;
}
#search-bar button {
    position: relative;
    right: 38px;
    top: -1;
    background-color: transparent;
    border: none;
}
/* Container Derecho */

header .right-container {
    background-color: var(--color-negro);
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    width: 4.5rem;
    box-shadow: 3px 3px 2px grey;
}

#line {
    display: none;
}
header .right-container .pc{
    display: none;
}

@media (min-width: 700px){
    /* Contenedor Izquierdo */
    
    header .left-container {
        width: 10rem;
    }

    header .left-container img{
        width: 100px;
        height: auto;
        border-radius: 50%;
    }
    /* Contenedor Central */
    header .input-ul-container ul{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 56vw;
    }

    header .input-ul-container ul li {
        margin-top: 15px;
        padding: 0 15px;

    }

    #line{
        display: block;
        margin-top: 10px;
    }
    header .input-ul-container ul li a img {
        width: 35px;
        height: 35px;
    }
    header .input-ul-container input{
        margin-top: 10px;
    }

    #search-bar button {
        top: 6px;
    }
    /* Contenedor Derecho */
    
    header .right-container .pc{
        display: flex;
        flex-direction: row;

    }

    header .right-container .pc .menu-user img{
        height: 55px;
        width: 49px;
    }
    header .right-container .pc .menu-user #baja{
        color: var(--color-gris);
        background-color: var(--color-azul);
        padding: 10px 15px;
        display: none;
        position: absolute;
        min-width: 140px;
        border-radius: 0 0 10px 10px;
        right: 7px;
    }
    header .right-container .pc .menu-user li a{
        color: var(--color-gris);
        background-color: var(--color-azul);

    }
    header .right-container .pc .menu-user ul li:hover{
        opacity: 0.8;
    }
    header .right-container .pc .menu-user ul li:hover > #baja{
        display: block;
        box-shadow: 10px 10px 10px 0px var(--color-negr);
    }
    header .right-container .pc a img{
        width: 40px;
    }
    #Carrito{
        width: 55px;
        margin-left: 10px;
    }
    header .input-ul-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
    }

    header .right-container{
        width: 10rem;
    }

    header .right-container #hamburguesa{
        display: none;
    }
}