@import url('general.css');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');


.Containers {
    display: none;
}
.Containers img {
    width: 90%;
    height: 200px;
    position: relative;
    left: 5%;
    padding-top: 30px;
    border-radius: 20px;
}

/* forward & Back buttons */
.Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 18%;
    margin: 0 5%;
    width: auto;
    margin-top: -23px;
    padding: 27px;
    color: var(--color-rojo);
    background-color: var(--color-azul);
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 5px;
    user-select: none;
}

/* Place the "forward button" to the right */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
    background-color: var(--color-negro);
}

main .video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
main .video iframe{
    width: 85%;
    height: 200px;
    border-radius: 15px;
}

main .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
main .products .product {
    width: 160px;
    height: 160px;
    border-radius: 15px;
    position: relative;
}

main .products .product img{
    width:120px;
    height: 120px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px var(--color-azul);
}

.a {
    width: 120px;
} 

main .word{
    position: absolute;
    bottom: 75px;
    font-weight: bold;
    color: var(--color-gris);
    font-family: var(--fuente);
    background-color: rgba(34, 40, 49, 0.5);
    width:75%;
    left: 20px;
    cursor: pointer;
}

.product img:hover {
    opacity: 0.8;
    border: 3px solid var(--color-azul);
}
.product img:hover ~ p{
    color: black;
    background-color: blanchedalmond;
} 

main .nota{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente);
    flex-direction: column;
}
main .nota p{
    font-size: 15px;
    width: 80%;
    margin-bottom: 20px;
}

main .nota img{
    width: 85%;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px var(--color-azul);
}

/* Animaciones */


/* Media Tablet */
@media (min-width: 500px){
    .Containers img {
        height: 400px;
    }
    
    .Back, .forward {
        top: 34%;
    }

    main .video iframe{
        height: 300px;
    }
    main .products .product{
        width: 200px;
        height: 200px;
    }
    main .products .product img{
        width: 180px;
        height: 180px;
    }
    main .nota p{
        font-size: 25px;
    }
    main .word{
        bottom: 100px;
        width: 183px;
        left: 9px;
    }
    
}

@media (min-width: 800px){   
    .Containers img {
        height: 500px;
    }
    
    .Back, .forward {
        top: 39%;
    }
    main .video iframe{
        height: 400px;
    }
    main .products .product{
        width: 30%;
        height: 270px;
    }
    main .products .product img{
        width: 100%;
        height: 230px;
        margin-bottom: 10px;
    }
    main .nota p{
        font-size: 32px;
    }
    main .word{
        bottom: 145px;
        width: 100%;
        left: 0px;
    }
    main .products{       
        justify-content: space-evenly;   
    }
}

@media (min-width: 1020px){
    .Containers img {
        height: 600px;
    }
    
    .Back, .forward {
        top: 43%;
    }
    main .video iframe{
        height: 500px;
    }
    main .products .product img{
        object-fit: cover;
    }
    main .nota p{
        font-size: 39px;
        
    }
    main .nota{
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        margin: 20px;
    }
    main .nota img{
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    main .n2 p{
        display: flex;
        order: -1;
    }
}

