@import url('general.css');
@import url('variables.css');

.main-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
main section article {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    width: 85%;
    margin: 0 30px;
}
.title-product {
    font-size: 19px;
    margin: 20px 0;
}
.price {
    font-size: 15px;
    margin-bottom: 15px;
}
.img-product {
    border: solid 1px var(--color-negro);
    border-radius: 20px;
    width: 70%;
}
.img-product-2 {
    border: solid 1px var(--color-negro);
    border-radius: 20px;
    width: 40%;
}
.price-purchase {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:center;
    margin-right: 10px;
}
.price-purchase p {
    margin: 2px 0;
    
}
h3.price {
    color: var(--color-rojo);
}
.credit {
    color: var(--color-azul);
    opacity: 0.7;
    font-size: 15px;
}
.quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 2px;
    width: 3.75rem;
    font-size: 25px;
  }
.product-caracteristics {
    font-size: 14;
    text-decoration: underline;
    font-weight: bold;
    list-style: none;
    list-style-type: none;
}
.description-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    padding-left: 25px;
}
.description-list li{
    list-style: disc;
    list-style-type: disc;
    font-size: 12px;
    text-align: justify;
}
.paragraph {
    font-size: 12px;
    font-weight: bold;
    margin: 40px 30px;
    text-align: justify;
    text-indent: 2em;
}

.button-purchase {
    background-color: var(--color-rojo);
    border-radius: 20px;
    color: var(--color-azul);
    font-size: 14;
    font-weight: bold;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px 1px rgba(206, 52, 52, 0.2);
}
.button-add-to-cart {
    background-color: var(--color-azul);
    border-radius: 20px;
    color: var(--color-gris);
    font-size: 14;
    font-weight: bold;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px 1px rgba(206, 52, 52, 0.2);
}
.product-details {
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    margin: 40px 30px 0 30px;
}
.button-purchase:hover {
    cursor:pointer;
    background-color: var(--color-azul);
    color: var(--color-rojo);
    box-shadow: 0px 0px 3px 0px;   
}
.button-add-to-cart:hover {
    cursor:pointer;
    background-color: var(--color-gris);
    color: var(--color-azul);
    box-shadow: 0px 0px 3px 0px;   
}

/* ********************************************    Carrousel   ******************************************** */
.sugestions {
    color: var(--color-azul);
    font-size: 16px;
    font-weight: bold;
}
article.carousel {
    border: solid 1px var(--color-negro);
    border-radius: 20px;
    padding:10px;
    margin: 10px;
}
div.carousel-content {
    display: flex;
    flex-direction:row;
     align-items: center;
    justify-items: center;
    /* justify-content: center; */
    /* flex-wrap: nowrap; */
    border: solid 1px var(--color-negro);
    border-radius: 20px;
    padding:10px;
    margin: 10px; 
}
div.carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
} 
div.carousel-product {
    display: flex; 
    flex-direction:row;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color-negro);
    border-radius: 50px;
    padding:10px;
    margin: 10px;
}
/* .photo-container{
    width: 250px;
    height: 250px;
} 
.photo-carousel {
    width: auto; 
    height: auto;
    max-width: 250px;
    max-height: 237px;
} */
.photo-carousel {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.paragraph {
    font-size: 12px;
    font-weight: bold;
    /* margin: 40px 30px; */
    text-align: center;
}

/******************************************** Media Queries ******************************************************/
/* Tablet */

@media (min-width: 500px) {
    .title-product {
        font-size: 24px;
        margin: 40px 0;
    }
    main section article {
        width: 85%;
        margin: 0 50px;
    }
    .price {
        font-size: 16x;
        margin-bottom: 15px;
    }
    .paragraph {
        font-size: 20px;
        font-weight: bold;
        margin: 40px 50px;
        text-align: justify;
        text-indent: 2em;
    }
    .price-purchase p {
        font-size: 20px;
        margin: 2px 0;
        
    }
    .credit {
        font-size: 18px;
    }
    .description-list li{
        font-size: 18px;
        text-align: left;
    }
    .product-details {
        margin: 40px 50px 0 50px;
    }
    .img-product {
        width: 90%;
    }
    .img-product-2 {
        width: 50%;
    }
}

/* Desktop */

@media (min-width: 860px) {
    /* body {
        max-width: 1000px;
    } */
    .title-product {
        font-size: 42px;
        margin: 40px 0;
    }
    main section article {
        width: 85%;
        margin: 0 60px;
    }
    .price {
        font-size: 29px;
        margin-bottom: 15px;
    }
    .paragraph {
        font-size: 22px;
        font-weight: bold;
        margin: 40px 50px;
        text-align: justify;
        text-indent: 2em;
    }
    .price-purchase p {
        font-size: 30px;
        margin: 2px 0;
        
    }
    .credit {
        font-size: 42px;
    }
    .description-list {
        padding-left: 40px;
    }
    .description-list li{
        font-size: 22px;
        text-align: left;
    }
    .product-details {
        margin: 40px 50px 0 50px;
    }
    .img-product {
        width: 90%;
    }
    .img-product-2 {
        width: 50%;
    }
}