@import url('general.css');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');




.photo{
    border-radius: 50%;
    width:217px;
    height:227px;
    border-radius:150px;
    padding: 12px;
   
}

.photo2-icons{
 
    width:209px;
    height: 181px;
    border-radius:150px;
  padding: 13px;
}

 .container-user-about-us  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0 ;
}

section  .user{
    
    height: 500px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgb(100 100 100);
    margin: 31px;
    transform: scale(1.05);
    width: 219px ; 
    

   }


   section article div .info-user{
       margin: 9%;
       font-size: 115%;
   }

    section .containerPag{
    display: flex;
    text-align: center;
    background-color: #F05454;
    border-radius: 27px;
   }



   .text-description{
    font-size: 23px;
    width: 79%;
   }


   @media (max-width: 500px){
        .text-description{
            font-size: 15px;
           margin: auto;
        }


        section .containerPag {
            display: block;
        }
   }

   