@import url('general.css');
@import url('variables.css');


.register-body{
    background-image: url(/images/cars-tuning.jpeg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.register-main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 79%;
    height: 55%;
    padding: 9%;
    position: relative;
    top: 10%;
    left: 12%;
    background-color: rgba(141, 132, 132, 0.6);
    border-radius: 10px;
    text-align: center;
   
    margin-bottom: 20%;
}

.register-main .buttom-form{
    border: 2px solid black;
    padding: 10px;
    margin: 1rem;
}
.register-main .buttom-submit{
    background-color: var(--color-rojo);
    border-radius: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.register-main input{
    padding: 15px;
}

.register-main .register{
    background-color: var(--color-rojo);
    border-radius: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5%;
    padding: 2%;
}


.register-main b{
    color: white;
}

.register-main h1{
    color: white;
}


@media (min-width: 500px){
    .register-body{
        background-image: url(/images/auto.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }
}
@media (min-width: 860px){
    
    
    .register-body{
        background-image: url(/images/auto.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }
    
    .register-main .buttom-submit{
        background-color: var(--color-rojo);
        border-radius: 18px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 1%;
    }
    
    .register-main .buttom-form{
        border: 2px solid black;
        padding: 15px;
        margin: 1rem;
    }
}

@media (min-width: 1100px){
    .register-main .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 77%;
        height: 50%;
        padding: 40px;
        position: relative;
        top: 14%;
        left: 15%;
        background-color: rgba(141, 132, 132, 0.6);
        border-radius: 10px;
        text-align: center;
        margin-top: 21% ;
    }
    
    .register-main .container{
        width: 61%;
        left: 23%;
    }
}
