<header>
    <div class="header">
        <!-- Container izquierdo -->
        <div class="left-container">
            <a href="/"><img src="/images/header/Logo.jpeg" alt="Logo"></a>
        </div>
        <!-- Parte Central (Input y Menu) -->
        <div class="input-ul-container">
            <div id="search-bar">
                <input type="search" placeholder="Busca aquí">
                <button>
                    <img src="/images/header/svg/Lupa.svg" alt="">
                </button>
            </div>
            <hr style="width: 75%;text-align:left;margin-left:0" id="line">
            <ul>
                <li><a href="/adminProductos/productos"></i>Todos los Productos</a></li>
                <li><a href="/adminProductos/cargaProducto"></i>Nuevo Poducto</a></li>
                <li><a href="/adminProductos/users"></i>Usuarios</a></li>
            </ul>
        </div>
        <!-- Container Derecho -->
        <div class="right-container">
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btn"></i>
            </label>
            <div class="sidebar">
                <ul>
                    <li><a href="/adminProductos/cargaProducto"></i>Nuevo Poducto</a></li>
                    <li><a href="/adminProductos/productos"></i>Todos los Productos</a></li>
                    <li><a href="/Carrito"></i>Carrito</a></li>
                    <li><a href="/users/login"></i>Login</a></li>
                    <li><a href="/users/register"></i>Registro</a></li>
                    <li><a href="/adminProductos/users"></i>Usuarios</a></li>
                </ul>
            </div>
            <div class="pc">
                <div class="menu-user">
                    <ul>
                        <li><img src="/images/header/svg/Login-registro.svg" alt="Login-registro">
                            <ul id="baja">
                                <a href="/users/profile"> <%- session.user.userName %> </a>
                                <li><a href="/users/register">Cerrar sesión</a></li>
                                <li><a href="/adminProductos/users"></i>Usuarios</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    
                </div>
                <a href="/Productos/carrito"><img src="/images/header/svg/Carrito.svg" alt="Carro de compras" id="Carrito"></a>
            </div>
        </div>
    </div>
</header>
