<footer>
    <div class="categories-us">
        <div class="categories">
            <h2>Categorías</h2>
            <ul>
                <li><a href="http://localhost:3000/productos/categoria/freno">Frenos</a></li>
                <li><a href="http://localhost:3000/productos/categoria/neumático">Neumaticos</a></li>
                <li ><a href="http://localhost:3000/productos/categoria/cañodeescape">Escapes</a></li>
                <li><a href="http://localhost:3000/productos/categoria/motor">Motores</a></li>
                <li><a href="http://localhost:3000/productos/categoria/volante">Volantes</a></li>
                <li><a href="http://localhost:3000/productos/categoria/interior">Interiores</a></li>
                <li><a href="http://localhost:3000/productos">Todos los productos</a></li>
            </ul>
        </div>
        <div class="us">
            <h2>Nosotros</h2>
            <ul>
                <li><a href="http://localhost:3000/us">¿Quiénes somos?</a></li>
                <li><a href="http://localhost:3000/us/contact">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="contact-payment">
        <div class="social-media">
            <a href="https://wa.me/5401144226666"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="payment">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-cc-paypal"></i>
        </div>
    </div>
    <div class="logo"><img src="/images/header/Logo.jpeg" alt=""></div>
</footer>
