<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs')  %> 
<body class="register-body">
    <header>
        
        <!-- Container izquierdo -->
        <div class="left-container">
            <a href="/"><img src="/images/header/Logo.jpeg" alt="Logo"></a>
            
        </div>
    </header>
    
    <main class="register-main">
        <form action="action_page">
            <div class="container">
                <h1>Registro</h1>
                <hr>
                <label for="email"><b>Nombre</b></label>
                <input type="text" placeholder="Ingrese su nombre y apellido" name="name" id="name" required
                >
                
                
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Ingrese su Email" name="email" id="email" required>
                
                <label for="psw"><b>Contrase単a</b></label>
                <input type="password" placeholder="Ingrese su Contrase単a" name="psw" id="psw" required>
                
                <label for="psw-repeat"><b>Repita su Contrase単a</b></label>
                <input type="password" placeholder="Repita su Contrase単a" name="psw-repeat" id="psw-repeat" required>
                
                
                <hr>
                
                <button  type="submit" class="register">Registrarse</button>
                
                
            </div>
            
        </form>
        
    </main>
    
    <%- include('partials/footer.ejs')  %> 
    
    
    
</body>
</html>