<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %> 
</head>
<body>
    <!-----------------------------------                Header              ------------------------------------------->
    <%- include('partials/adminHeader.ejs')  %>
    
    <!----------------------------------------  Carga de Productos  --------------------------------------------------------->
    <main>
        <h2 class="title">Formulario de Carga de Productos</h2>
        <form action="/adminProductos/cargaProducto" class="form" method="POST">
            <div class="categoryNPrice">
                <div class="category">
                    <label for="category" class="label">Categoría:</label>
                    <select name="category" id="" class="select border">
                        <option value="Freno">Frenos</option>
                        <option value="Neumático">Neumáticos</option>
                        <option value="Caño de Escape">Escapes</option>
                        <option value="Motor">Motores</option>
                        <option value="Volante">Volantes</option>
                        <option value="Interior">Interiores</option>
                    </select>
                </div>
                <div class="pricef">
                    <label for="price" class="label">Precio:</label>
                    <input type="number" name="price" id="" class="price-input border">

                </div>
                <div class="pricef">
                    <label for="discount" class="label">Descuento:</label>
                    <input type="number" name="discount" id="" class="name border">
                </div>
            </div>
            <div class="nameModelYear">
                <label for="name" class="label">Nombre del Producto:</label>
                <input type="text" name="name" id="" class="name border">
            </div>
            <div class="brandModelYear">
                <div class="brand">
                    <label for="brand" class="label">Marca</label>
                    <input type="text" name="brand" id="" class="select border">
                </div>
                <div>
                    <label for="carModel" class="label">Modelo:</label>
                    <input type="text" name="carModel" id="" class="select border">
                </div>
                <div>
                    <label for="year" class="label">Año:</label>
                    <select name="year" id="" class="border">
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                    </select>
                </div>
            </div>
            <div class="photo">
                <label for="img" class="label">Foto:</label>
                <input type="file" name="img" id="" class="border ">
                <button class="buttons button-blue">Agregar otra Foto</button>
            </div>
            <div class="description">
                <label for="description" class="label">Descripción:</label>
                <textarea name="description" id="" class="textarea-description border"></textarea>
            </div>
            <div class="colorDelIzq">
                <div>
                    <label for="color" class="label">Color:</label>
                    <select name="color" id="" class="border">
                        <option value="Blanco">Blanco</option>
                        <option value="Negro">Negro</option>
                        <option value="Azul">Azul</option>
                        <option value="Rojo">Rojo</option>
                        <option value="Verde">Verde</option>
                        <option value="Plateado">Plateado</option>
                    </select>
                </div>
                <div>
                    <label for="frontback" class="label">Del/Tras/No:</label>
                    <select name="frontback" id="" class="border">
                        <option value="no">No</option>
                        <option value="Delantero">Delantero</option>
                        <option value="Trasero">Trasero</option>
                    </select>
                </div>
                <div>
                    <label for="leftright" class="label">Izq/Der/No:</label>
                    <select name="leftright" id="" class="border">
                        <option value="no">No</option>
                        <option value="Izquierdo">Izquierda</option>
                        <option value="Derecho">Derecha</option>
                    </select>
                </div>
            </div>
            
            <div class="buttons-box">
                <button type="submit" class="buttons button-red">Agregar</button>
            </div>
        </form>
    </main>


    <!-----------------------------------           Footer            ------------------------------------------->
    <%- include('partials/footer.ejs')  %> 
    
</body>
</html>