<!DOCTYPE html>
<html lang="es">

  <%- include('partials/head.ejs')  %> 

<body>
 
  <%- include('partials/header.ejs')  %> 

  <main class="basket-main">
    <div class="basket">
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Productos</li>
          <li class="price">Precio</li>
          <li class="quantity">cantidad</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img
            src="/images/carrito/bujia.jpg"
            alt="Placholder Image 2"
            class="product-frame"
            />
          </div>
          <div class="product-details">
            <h2>bujias</h2>
            <br />
            <h2 class="segundo-h2">auto</h2>
          </div>
        </div>
        <div class="price">$26.00</div>
        <div class="quantity">
          <input type="number" value="4" min="1" class="quantity-field" />
        </div>
        <div class="subtotal">$104.00</div>
        <div class="quitar"></div>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img
            src="/images/carrito/rueda.jpg"
       
            alt="Placholder Image 2"
            class="product-frame"
          
            />
           

          </div>
          <div class="product-details">
            <h2 style="font-weight: bolder">neumatico</h2>
            <br />
            <h2 class="segundo-h2">auto</h2>
          </div>
        </div>
        <div class="price">$26.00</div>
        <div class="quantity">
          <input type="number" value="1" min="1" class="quantity-field" />
        </div>
        <div class="subtotal">$26.00</div>
        <div class="quitar"></div>
      </div>
    </div>
    <aside>
      <div class="summary">
        <div class="summary-total-items">
          <span class="total-items">artículos en tu bolso</span> 
        </div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal">
            $130.00
          </div>
          <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo"></div>
          </div>
        </div>
        
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">$130.00</div>
        </div>
        <div class="summary-checkout">
          <label><input type="checkbox" id="cbox1" value="first_checkbox">Pagar Con Targeta</label><br>
          <label><input type="checkbox" id="cbox1" value="first_checkbox">Pagar En Efectivo</label><br>
          <button class="checkout-cta">comprar</button><br>
          <button class="checkout-cta">Seguir Comprando</button>
        </div>
       
      </div>
    </aside>
  </main>
 
  
  <h4 class="related-prod-title">productos relacionados</h4>
  <section class="related-prods">
    <div class="articulo">
      <div class="custom-fields-related-items-wrapper">
        <div class="imagen">
          <a href=""><img src="/images/carrito/bujia.jpg" /></a>
        </div>
        
        <div class="custom-fields-referenced-title">
          <h2>bujias</h2>
          <h3>$4500</h3>
          <button class="botton-card">comprar</button>
        </div>
      </div>
    </div>




</div>
   


 



    <div class="articulo">
      <div class="custom-fields-related-items-wrapper">
        <div class="imagen">
          <a href=""><img src="/images/carrito/discodefreno.jpg" /></a>
        </div>
        
        <div class="custom-fields-referenced-title">
          <h2>Disco De Freno</h2>
          <h3>$5000</h3>
          <button class="botton-card">comprar</button>
        </div>
      </div>
    </div>
    
    <div class="articulo">
      <div class="custom-fields-related-items-wrapper">
        <div class="imagen">
          <a href=""><img src="/images/carrito/frenoss.jpg" /></a>
        </div>
        
        <div class="custom-fields-referenced-title">
          <h2>bujias</h2>
          <h3>$3200</h3>
          <button class="botton-card">comprar</button>
        </div>
      </div>
    </div>
   

    
    <div class="articulo">
      <div class="custom-fields-related-items-wrapper">
        <div class="imagen">
          <a href=""><img src="/images/carrito/rueda.jpg" /></a>
        </div>
        
        <div class="custom-fields-referenced-title">
          <h2>Neumatico</h2>
          <h3>$7000</h3>
          <button class="botton-card">comprar</button>

        </div>

      </div>
    </div>
   
  </section>
  
  
   <%- include('partials/footer.ejs')  %> 
</body>
</html>
