<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs')  %> 
<body>
    <%- include('partials/header.ejs')  %> 

        <main class="users-list">
            <section class="search-bar">
                <div>
                    <form action="/POST">
                        <div><input type="search" placeholder="Nombre"></div>
                    </form>
                </div>
            </section>
            <section class="users">
                <div class="usuario">
                    <div class="photo">
                        <img src="/images/quienesSomos/messirve.jpg" alt="">
                    </div>
                    <h5>Nombre</h5>
                    <p>Email: aaaaa@bbbbbb.com</p>
                    <p>ID: 35</p>
                    <div class="user-type">
                        <form action="/POST">
                            <input type="radio" name="User" id="User">
                            <label for="User">Usuario</label>
                            <input type="radio" name="User" id="Admin">
                            <label for="Admin">Administrador</label>
                        </form>
                    </div>
                    <button>Eliminar</button>
                </div>
                <div class="usuario">
                    <div class="photo">
                        <img src="/images/quienesSomos/messirve.jpg" alt="">
                    </div>
                    <h5>Nombre</h5>
                    <p>Email: aaaaa@bbbbbb.com</p>
                    <p>ID: 35</p>
                    <div class="user-type">
                        <form action="/POST">
                            <input type="radio" name="User" id="User">
                            <label for="User">Usuario</label>
                            <input type="radio" name="User" id="Admin">
                            <label for="Admin">Administrador</label>
                        </form>
                    </div>
                    <button>Eliminar</button>
                </div>
                <div class="usuario">
                    <div class="photo">
                        <img src="/images/quienesSomos/messirve.jpg" alt="">
                    </div>
                    <h5>Nombre</h5>
                    <p>Email: aaaaa@bbbbbb.com</p>
                    <p>ID: 35</p>
                    <div class="user-type">
                        <form action="/POST">
                            <input type="radio" name="User" id="User">
                            <label for="User">Usuario</label>
                            <input type="radio" name="User" id="Admin">
                            <label for="Admin">Administrador</label>
                        </form>
                    </div>
                    <button>Eliminar</button>
                </div>
                <div class="usuario">
                    <div class="photo">
                        <img src="/images/quienesSomos/messirve.jpg" alt="">
                    </div>
                    <h5>Nombre</h5>
                    <p>Email: aaaaa@bbbbbb.com</p>
                    <p>ID: 35</p>
                    <div class="user-type">
                        <form action="/POST">
                            <input type="radio" name="User" id="User">
                            <label for="User">Usuario</label>
                            <input type="radio" name="User" id="Admin">
                            <label for="Admin">Administrador</label>
                        </form>
                    </div>
                    <button>Eliminar</button>
                </div>
            </section>
        </main>
     <%- include('partials/footer.ejs')  %> 
</body>
</html>