<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
</head>
<body>
    <!-----------------------------------                Header              ------------------------------------------->
    <%- include('./partials/header.ejs')  %> 
    
    <!----------------------------------------  Carga de Productos  --------------------------------------------------------->
    <main>
        <h2 class="title">Formulario de Carga de Productos</h2>
        <form action="" class="form">
            <div class="categoryNPrice">
                <div class="category">
                    <label for="category" class="label">Categoría:</label>
                    <select name="category" id="" class="select border">
                        <option value="frenos">Frenos</option>
                        <option value="neumaticos">Neumáticos</option>
                        <option value="escapes">Escapes</option>
                        <option value="motores">Motores</option>
                        <option value="volantes">Volantes</option>
                        <option value="interiores">Interiores</option>
                    </select>
                </div>
                <div class="pricef">
                    <label for="price" class="label">Precio:</label>
                    <input type="text" name="price" id="" class="price-input border">

                </div>
            </div>
            <div class="nameModelYear">
                <label for="name" class="label">Nombre del Producto:</label>
                <input type="text" name="name" id="" class="name border">
            </div>
            <div class="brandModelYear">
                <div class="brand">
                    <label for="brand" class="label">Marca</label>
                    <select name="brand" id="brand" class="select border">
                        <option value="none">-------</option>
                        <option value="ford">Ford</option>
                        <option value="chevrolet">Chevrolet</option>
                        <option value="fiat">Fiat</option>
                        <option value="toyota">Toyota</option>
                        <option value="peugeot">Peugeot</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="bmw">BMW</option>
                        <option value="audi">Audi</option>
                        <option value="nissan">Nissan</option>
                        <option value="other">otra</option>
                    </select>
                </div>
                <div>
                    <label for="model" class="label">Modelo:</label>
                    <select name="model" id="" class="select border">
                        <option value="model-1">Focus</option>
                        <option value="model-2">Fiesta</option>
                        <option value="model-3">Mondeo</option>
                        <option value="model-4">Ecosport</option>
                        <option value="model-5">F-100</option>
                        <option value="model-6">Ranger</option>
                    </select>
                </div>
                <div>
                    <label for="year" class="label">Año:</label>
                    <select name="year" id="" class="border">
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
            </div>
            <div class="photo">
                <label for="photo" class="label">Foto:</label>
                <input type="file" name="photo" id="" class="border ">
                <button class="buttons button-blue">Agregar otra Foto</button>
            </div>
            <div class="description">
                <label for="description" class="label">Descripción:</label>
                <textarea name="description" id="" class="textarea-description border"></textarea>
            </div>
            <div class="colorDelIzq">
                <div>
                    <label for="color" class="label">Color:</label>
                    <select name="color" id="" class="border">
                        <option value="white">Blanco</option>
                        <option value="black">Negro</option>
                        <option value="blue">Azul</option>
                        <option value="red">Rojo</option>
                        <option value="gree">Verde</option>
                        <option value="silver">Plateado</option>
                    </select>
                </div>
                <div>
                    <label for="delTrasNo" class="label">Del/Tras/No:</label>
                    <select name="delTasNo" id="" class="border">
                        <option value="no">No</option>
                        <option value="del">Delantero</option>
                        <option value="tras">Trasero</option>
                    </select>
                </div>
                <div>
                    <label for="izqDerNo" class="label">Izq/Der/No:</label>
                    <select name="izqDerNo" id="" class="border">
                        <option value="no">No</option>
                        <option value="izqDerNo">Izquierda</option>
                        <option value="der">Derecha</option>
                    </select>
                </div>
            </div>
            
            <div class="buttons-box">
                <button type="submit" class="buttons button-red">Agregar</button>
            </div>
        </form>
    </main>


    <!-----------------------------------           Footer            ------------------------------------------->
    <%- include('./partials/footer.ejs')  %> 
    
</body>
</html>