<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!-- Íconos: -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Formulario de Carga de Productos</title>
</head>
<body>
    <!-----------------------------------                Header              ------------------------------------------->
    <header>
        <div class="header">
            <!-- Container izquierdo -->
            <div class="left-container">
                <a href="http://localhost:3000/"><img src="/images/header/Logo.jpeg" alt="Logo"></a>
            </div>
            <!-- Parte Central (Input y Menu) -->
            <div class="input-ul-container">
                <div id="search-bar">
                    <input type="search" placeholder="Busca aquí">
                    <button>
                        <img src="/images/header/svg/Lupa.svg" alt="">
                    </button>
                </div>
                <hr style="width: 75%;text-align:left;margin-left:0" id="line">
                <ul>
                    <li><a href="http://localhost:3000/Productos"><span>Frenos</span><span><img src="/images/header/svg/Freno.svg" alt="" aria-hidden="true"></span></a></li>
                    <li><a href="http://localhost:3000/Productos"><span>Neumaticos</span> <span><img src="/images/header/svg/Rueda.svg" alt="" aria-hidden="true"></span></a></li>
                    <li><a href="http://localhost:3000/Productos"><span>Escapes</span><span><img src="/images/header/svg/Escapes.svg" alt="" aria-hidden="true"></span></a></li>
                    <li><a href="http://localhost:3000/Productos"><span>Motores</span><span><img src="/images/header/svg/Motor.svg" alt="" aria-hidden="true"></span></a></li>
                    <li><a href="http://localhost:3000/Productos"><span>Volantes</span> <span><img src="/images/header/svg/Volante.svg" alt="" aria-hidden="true"></span></a></li>
                    <li><a href="http://localhost:3000/Productos"><span>Interiores</span><span><img src="/images/header/svg/Interior.svg" alt="" aria-hidden="true"></span></a></li>
                </ul>
            </div>
            <!-- Container Derecho -->
            <div class="right-container">
                <input type="checkbox" id="check">
                <label for="check">
                    <i class="fas fa-bars" id="btn"></i>
                </label>
                <div class="sidebar">
                    <ul>
                        <li><a href="http://localhost:3000/Productos"></i>Frenos</a></li>
                        <li><a href="http://localhost:3000/Productos"></i>Neumáticos</a></li>
                        <li><a href="http://localhost:3000/Productos"></i>Escapes</a></li>
                        <li><a href="http://localhost:3000/Productos"></i>Motor</a></li>
                        <li><a href="http://localhost:3000/Productos"></i>Interior</a></li>
                        <li><a href="http://localhost:3000/Productos"></i>Exterior</a></li>
                        <li><a href="http://localhost:3000/Carrito"></i>Carrito</a></li>
                        <li><a href="http://localhost:3000/Login"></i>Login</a></li>
                        <li><a href="http://localhost:3000/Registro"></i>Registro</a></li>
                    </ul>
                </div>
                <div class="pc">
                    <div class="menu-user">
                        <ul>
                            <li><img src="/images/header/svg/Login-registro.svg" alt="Login-registro">
                                <ul id="baja">
                                    <li><a href="http://localhost:3000/Login">Login</a></li>
                                    <li><a href="http://localhost:3000/Registro">Registro</a></li>
                                    <li><a href="">Usuarios</a></li>
                                </ul>
                            </li>

                        </ul>
                            
                    </div>
                    <a href="http://localhost:3000/Carrito"><img src="/images/header/svg/Carrito.svg" alt="Carro de compras" id="Carrito"></a>
                </div>
            </div>
        </div>
    </header>
    
    <!----------------------------------------  Carga de Productos  --------------------------------------------------------->
    <main>
        <h2 class="title">Formulario de Carga de Productos</h2>
        <form action="" class="form">
            <div class="categoryNPrice">
                <div class="category">
                    <label for="category" class="label">Categoría:</label>
                    <select name="category" id="" class="select border">
                        <option value="frenos">Frenos</option>
                        <option value="neumaticos">Neumáticos</option>
                        <option value="escapes">Escapes</option>
                        <option value="motores">Motores</option>
                        <option value="volantes">Volantes</option>
                        <option value="interiores">Interiores</option>
                    </select>
                </div>
                <div class="pricef">
                    <label for="price" class="label">Precio:</label>
                    <input type="text" name="price" id="" class="price-input border">

                </div>
            </div>
            <div class="nameModelYear">
                <label for="name" class="label">Nombre del Producto:</label>
                <input type="text" name="name" id="" class="name border">
            </div>
            <div class="brandModelYear">
                <div class="brand">
                    <label for="brand" class="label">Marca</label>
                    <select name="brand" id="brand" class="select border">
                        <option value="none">-------</option>
                        <option value="ford">Ford</option>
                        <option value="chevrolet">Chevrolet</option>
                        <option value="fiat">Fiat</option>
                        <option value="toyota">Toyota</option>
                        <option value="peugeot">Peugeot</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="bmw">BMW</option>
                        <option value="audi">Audi</option>
                        <option value="nissan">Nissan</option>
                        <option value="other">otra</option>
                    </select>
                </div>
                <div>
                    <label for="model" class="label">Modelo:</label>
                    <select name="model" id="" class="select border">
                        <option value="model-1">Focus</option>
                        <option value="model-2">Fiesta</option>
                        <option value="model-3">Mondeo</option>
                        <option value="model-4">Ecosport</option>
                        <option value="model-5">F-100</option>
                        <option value="model-6">Ranger</option>
                    </select>
                </div>
                <div>
                    <label for="year" class="label">Año:</label>
                    <select name="year" id="" class="border">
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
            </div>
            <div class="photo">
                <label for="photo" class="label">Foto:</label>
                <input type="file" name="photo" id="" class="border ">
                <button class="buttons button-blue">Agregar otra Foto</button>
            </div>
            <div class="description">
                <label for="description" class="label">Descripción:</label>
                <textarea name="description" id="" class="textarea-description border"></textarea>
            </div>
            <div class="colorDelIzq">
                <div>
                    <label for="color" class="label">Color:</label>
                    <select name="color" id="" class="border">
                        <option value="white">Blanco</option>
                        <option value="black">Negro</option>
                        <option value="blue">Azul</option>
                        <option value="red">Rojo</option>
                        <option value="gree">Verde</option>
                        <option value="silver">Plateado</option>
                    </select>
                </div>
                <div>
                    <label for="delTrasNo" class="label">Del/Tras/No:</label>
                    <select name="delTasNo" id="" class="border">
                        <option value="no">No</option>
                        <option value="del">Delantero</option>
                        <option value="tras">Trasero</option>
                    </select>
                </div>
                <div>
                    <label for="izqDerNo" class="label">Izq/Der/No:</label>
                    <select name="izqDerNo" id="" class="border">
                        <option value="no">No</option>
                        <option value="izqDerNo">Izquierda</option>
                        <option value="der">Derecha</option>
                    </select>
                </div>
            </div>
            
            <div class="buttons-box">
                <button type="submit" class="buttons button-red">Agregar</button>
            </div>
        </form>
    </main>


    <!-----------------------------------           Footer            ------------------------------------------->
    <%- include('Footer.ejs')%>
    
</body>
</html>