<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs')  %> 

<body class="login">
    
    <header>
        
        <!-- Container izquierdo -->
        <div class="left-container">
            <a href="/"><img src="/images/header/Logo.jpeg" alt="Logo"></a>
            
        </div>
    </header>
  <main class="login-main">  
    <div class="container">
        <div class="row">
            
            
            <div class="card">
                <form class="box">
                    <input class="buttom-form" type="text" name="" placeholder="Username">
                    <input class="buttom-form" type="password" name="" placeholder="Password">
                    <label><input type="checkbox" id="cbox1" value="first_checkbox">Recordarme la proxima vez</label><br>
                    <input class="buttom-submit" type="submit" name="" value="Iniciar sesión" href="#">
                    <span><a href="">¿Olvidaste tu contraseña?</a></span>
                    <span><a href="registro">Aún no tengo cuenta</a></span>
                    
                </form>
            </div>
            
        </div>
    </div>
</main>
<%- include('./partials/footer.ejs')  %> 
</body>

</html>